logs
project
target
tmp
.sbtserver
.history
dist
/.idea
/.externalToolBuilders
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/conf/application*.conf
/conf/logger.xml
/.target
/.cache
.DS_Store

#ruby/capistrano settings
.bundle/
.ruby-gemset
.ruby-version
bin/

#eclipse
.metadata/

#java doc
doc/

*.dat

/db/maxmind

/app/assets

/public

/conf/kafka.properties
